In [ ]:
mongodb+srv://srujanmothe62:bqfGoXX8dktIHyOp@cluster0.ew7nt.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

### Predicting Customer&#39;s Favorite Dish

In [1]:
!pip install pymongo

Requirement already satisfied: pymongo in c:\users\hp\anaconda3\lib\site-packages (4.11.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\hp\anaconda3\lib\site-packages (from pymongo) (2.7.0)

In [2]:
from pymongo  import MongoClient
import pandas as pd

In [7]:
client = MongoClient("mongodb+srv://srujanmothe62:bqfGoXX8dktIHyOp@cluster0.ew7nt.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0&ssl=true")

db = client["hotel_guests"]

In [8]:
collection = db["dining_info"]

In [9]:
df_from_mongo = pd.DataFrame(list(collection.find()))

In [10]:
df = df_from_mongo.copy()

In [11]:
df['check_in_date'] = pd.to_datetime(df['check_in_date'])
df['check_out_date'] = pd.to_datetime(df['check_out_date'])
df['order_time'] = pd.to_datetime(df['order_time'])

In [12]:
df

,_id,transaction_id,customer_id,Preferred Cusine,age,dish,Qty,price_for_1,number_of_stayers,check_in_date,check_out_date,order_time,booked_through_points
0,67b0a450476a87064ba3d2da,3594217,91,South Indian,31,Filter Coffee,2,80,1,2023-08-07,2023-08-10 18:33:11,2023-08-09 03:40:45,0
1,67b0a450476a87064ba3d2db,10163344,92,South Indian,21,Chocolate Cake,2,200,2,2023-08-08,2023-08-10 04:10:06,2023-08-08 19:20:37,0
2,67b0a450476a87064ba3d2dc,12292432,93,North Indian,48,Breakfast thali,1,500,2,2023-11-15,2023-11-17 08:21:37,2023-11-15 14:01:51,1
3,67b0a450476a87064ba3d2dd,13757710,94,South Indian,25,Roti Curry,3,100,3,2024-03-31,2024-04-03 09:35:00,2024-03-31 11:17:37,0
4,67b0a450476a87064ba3d2de,10762656,95,North Indian,22,Filter Coffee,1,80,1,2024-04-08,2024-04-11 02:22:57,2024-04-10 23:00:56,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,67b0a74bebe7340237c37d5c,6513286,23,South Indian,30,Filter Coffee,1,80,1,2024-10-09,2024-10-10 21:11:26,2024-10-10 16:27:09,0
29996,67b0a74bebe7340237c37d5d,4578482,12,North Indian,35,Roti Curry,1,100,1,2023-07-20,2023-07-21 12:39:56,2023-07-20 06:28:37,0
29997,67b0a74bebe7340237c37d5e,1394756,13,South Indian,45,Palak Paneer,2,250,1,2023-07-26,2023-07-29 18:12:23,2023-07-28 03:08:27,0
29998,67b0a74bebe7340237c37d5f,6277632,3,South Indian,28,Roti Curry,3,100,3,2023-02-01,2023-02-06 07:30:00,2023-02-02 15:28:08,0
29999,67b0a74bebe7340237c37d60,11933037,19,Multi,32,Masala Dosa,1,150,1,2024-09-07,2024-09-09 19:30:07,2024-09-09 05:10:01,0

In [24]:
df['check_in_day'] = df['check_in_date'].dt.dayofweek  # Monday=0, Sunday=6
df['check_out_day'] = df['check_out_date'].dt.dayofweek
df['check_in_month'] = df['check_in_date'].dt.month
df['check_out_month'] = df['check_out_date'].dt.month
df['stay_duration'] = (df['check_out_date'] - df['check_in_date']).dt.days

In [36]:
df

,_id,transaction_id,customer_id,Preferred Cusine,age,dish,Qty,price_for_1,number_of_stayers,check_in_date,check_out_date,order_time,booked_through_points,check_in_day,check_out_day,check_in_month,check_out_month,stay_duration
0,67b0a450476a87064ba3d2da,3594217,91,South Indian,31,Filter Coffee,2,80,1,2023-08-07,2023-08-10 18:33:11,2023-08-09 03:40:45,0,0,3,8,8,3
1,67b0a450476a87064ba3d2db,10163344,92,South Indian,21,Chocolate Cake,2,200,2,2023-08-08,2023-08-10 04:10:06,2023-08-08 19:20:37,0,1,3,8,8,2
2,67b0a450476a87064ba3d2dc,12292432,93,North Indian,48,Breakfast thali,1,500,2,2023-11-15,2023-11-17 08:21:37,2023-11-15 14:01:51,1,2,4,11,11,2
3,67b0a450476a87064ba3d2dd,13757710,94,South Indian,25,Roti Curry,3,100,3,2024-03-31,2024-04-03 09:35:00,2024-03-31 11:17:37,0,6,2,3,4,3
4,67b0a450476a87064ba3d2de,10762656,95,North Indian,22,Filter Coffee,1,80,1,2024-04-08,2024-04-11 02:22:57,2024-04-10 23:00:56,0,0,3,4,4,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,67b0a74bebe7340237c37d5c,6513286,23,South Indian,30,Filter Coffee,1,80,1,2024-10-09,2024-10-10 21:11:26,2024-10-10 16:27:09,0,2,3,10,10,1
29996,67b0a74bebe7340237c37d5d,4578482,12,North Indian,35,Roti Curry,1,100,1,2023-07-20,2023-07-21 12:39:56,2023-07-20 06:28:37,0,3,4,7,7,1
29997,67b0a74bebe7340237c37d5e,1394756,13,South Indian,45,Palak Paneer,2,250,1,2023-07-26,2023-07-29 18:12:23,2023-07-28 03:08:27,0,2,5,7,7,3
29998,67b0a74bebe7340237c37d5f,6277632,3,South Indian,28,Roti Curry,3,100,3,2023-02-01,2023-02-06 07:30:00,2023-02-02 15:28:08,0,2,0,2,2,5
29999,67b0a74bebe7340237c37d60,11933037,19,Multi,32,Masala Dosa,1,150,1,2024-09-07,2024-09-09 19:30:07,2024-09-09 05:10:01,0,5,0,9,9,2

In [37]:
# features that i want to derive based on historical customer trends
features_df = df[df['order_time']<'2024-01-01']

In [38]:
train_df = df[(df['order_time']>='2024-01-01')&(df['order_time']<='2024-10-01')]

In [39]:
test_df = df[(df['order_time']>'2024-10-01')] # - pseudo prediction dataset

In [68]:
customer_features = features_df.groupby('customer_id').agg(
    total_orders_per_customer=('transaction_id', 'count'), # count of orders's
    avg_spend_per_customer=('price_for_1', 'mean'),        # Average amount spent per order
    total_qty_per_customer=('Qty','sum'),                  # no of orders{Total}
    total_spent_per_customer=('price_for_1', 'sum'),       # Total money spent
    avg_stay_per_customer=('stay_duration', 'mean'),       # average stay duration per customer
    total_stay_per_customer=('stay_duration', 'sum'),      # total no of days a customer has stayed in all visits.
    total_revenue=('price_for_1', 'sum')
).reset_index()

# Get most frequent cuisine & dish per customer
customer_cuisine = features_df.groupby('customer_id')['Preferred Cusine'].agg(lambda x: x.mode()[0]).reset_index()
customer_dish = features_df.groupby('customer_id')['dish'].agg(lambda x: x.mode()[0]).reset_index()

# ðŸŒŸ Cuisine-Level Aggregations - Stats of customers preferring a specific cuisine
cuisine_features = features_df.groupby('Preferred Cusine').agg(
    total_orders_per_cuisine=('transaction_id', 'count'),
    total_price_per_cuisine=('price_for_1','sum'),
    avg_spend_per_cuisine=('price_for_1', 'mean')
).reset_index()


# Most popular dish per cuisine
cuisine_popular_dish = features_df.groupby('Preferred Cusine')['dish'].agg(lambda x: x.mode()[0]).reset_index()
cuisine_popular_dish = cuisine_popular_dish.rename({'dish': 'popular_dish_for_this_cuisine'}, axis=1)

# Most expensive dish per cuisine
most_expensive_dish = features_df.loc[features_df.groupby('Preferred Cusine')['price_for_1'].idxmax(), ['Preferred Cusine', 'dish']]
most_expensive_dish = most_expensive_dish.rename({'dish': 'most_expensive_dish_for_this_cuisine'}, axis=1)

# Least expensive dish per cuisine
least_expensive_dish = features_df.loc[features_df.groupby('Preferred Cusine')['price_for_1'].idxmin(), ['Preferred Cusine', 'dish']]
least_expensive_dish = least_expensive_dish.rename({'dish': 'least_expensive_dish_for_this_cuisine'}, axis=1)

# Total revenue per cuisine
total_revenue_per_cuisine = features_df.groupby('Preferred Cusine').agg(
    total_revenue=('price_for_1', 'sum')
).reset_index()

# Merging all features into one dataset
cuisine_features = cuisine_popular_dish.merge(most_expensive_dish, on='Preferred Cusine', how='left')
cuisine_features = cuisine_features.merge(least_expensive_dish, on='Preferred Cusine', how='left')
cuisine_features = cuisine_features.merge(total_revenue_per_cuisine, on='Preferred Cusine', how='left')

In [69]:
cuisine_features

,Preferred Cusine,popular_dish_for_this_cuisine,most_expensive_dish_for_this_cuisine,least_expensive_dish_for_this_cuisine,total_revenue
0,Multi,Idli,North Indian Thali,Idli,984570
1,North Indian,Idli,North Indian Thali,Idli,912810
2,South Indian,Idli,North Indian Thali,Idli,1125720

In [70]:
train_df = train_df.merge(customer_features, on='customer_id', how='left')
train_df = train_df.merge(customer_dish.rename(columns={'dish': 'fav_dish_per_customer'}), on='customer_id', how='left')
train_df = train_df.merge(cuisine_features, on='Preferred Cusine', how='left')
train_df = train_df.merge(cuisine_popular_dish, on='Preferred Cusine', how='left')

In [71]:
train_df

,_id,transaction_id,customer_id,Preferred Cusine,age,dish,Qty,price_for_1,number_of_stayers,check_in_date,...,total_spent_per_customer,avg_stay_per_customer,total_stay_per_customer,total_revenue_x,fav_dish_per_customer,popular_dish_for_this_cuisine_x,most_expensive_dish_for_this_cuisine,least_expensive_dish_for_this_cuisine,total_revenue_y,popular_dish_for_this_cuisine_y
0,67b0a450476a87064ba3d2dd,13757710,94,South Indian,25,Roti Curry,3,100,3,2024-03-31,...,NaN,NaN,NaN,NaN,NaN,Idli,North Indian Thali,Idli,1125720,Idli
1,67b0a450476a87064ba3d2de,10762656,95,North Indian,22,Filter Coffee,1,80,1,2024-04-08,...,NaN,NaN,NaN,NaN,NaN,Idli,North Indian Thali,Idli,912810,Idli
2,67b0a450476a87064ba3d2df,191055,96,Multi,49,Filter Coffee,2,80,2,2024-02-04,...,NaN,NaN,NaN,NaN,NaN,Idli,North Indian Thali,Idli,984570,Idli
3,67b0a450476a87064ba3d2e1,2218987,98,North Indian,27,Utthappam,3,150,2,2024-08-27,...,NaN,NaN,NaN,NaN,NaN,Idli,North Indian Thali,Idli,912810,Idli
4,67b0a450476a87064ba3d2e4,11395050,101,Multi,29,Palak Paneer,1,250,1,2024-04-20,...,NaN,NaN,NaN,NaN,NaN,Idli,North Indian Thali,Idli,984570,Idli
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11929,67b0a74bebe7340237c37d50,15645483,7,Multi,55,Idli,2,75,1,2024-09-05,...,44295.0,3.089552,621.0,44295.0,Idli,Idli,North Indian Thali,Idli,984570,Idli
11930,67b0a74bebe7340237c37d51,2431985,19,Multi,32,Aloo Paratha,1,200,1,2024-01-07,...,19695.0,2.766667,249.0,19695.0,Utthappam,Idli,North Indian Thali,Idli,984570,Idli
11931,67b0a74bebe7340237c37d56,12202780,20,Multi,48,Breakfast thali,1,500,1,2024-09-07,...,20670.0,2.181818,216.0,20670.0,Filter Coffee,Idli,North Indian Thali,Idli,984570,Idli
11932,67b0a74bebe7340237c37d57,10225236,33,North Indian,31,Masala Dosa,3,150,3,2024-07-21,...,18150.0,2.548387,237.0,18150.0,Filter Coffee,Idli,North Indian Thali,Idli,912810,Idli
11933,67b0a74bebe7340237c37d60,11933037,19,Multi,32,Masala Dosa,1,150,1,2024-09-07,...,19695.0,2.766667,249.0,19695.0,Utthappam,Idli,North Indian Thali,Idli,984570,Idli

In [72]:
train_df.columns

Index(['_id', 'transaction_id', 'customer_id', 'Preferred Cusine', 'age',
       'dish', 'Qty', 'price_for_1', 'number_of_stayers', 'check_in_date',
       'check_out_date', 'order_time', 'booked_through_points', 'check_in_day',
       'check_out_day', 'check_in_month', 'check_out_month', 'stay_duration',
       'total_orders_per_customer', 'avg_spend_per_customer',
       'total_qty_per_customer', 'total_spent_per_customer',
       'avg_stay_per_customer', 'total_stay_per_customer', 'total_revenue_x',
       'fav_dish_per_customer', 'popular_dish_for_this_cuisine_x',
       'most_expensive_dish_for_this_cuisine',
       'least_expensive_dish_for_this_cuisine', 'total_revenue_y',
       'popular_dish_for_this_cuisine_y'],
      dtype='object')

In [73]:
train_df.drop(['_id','transaction_id','customer_id','price_for_1',
               'Qty','order_time','check_in_date','check_out_date'],axis=1,inplace=True)

In [75]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

# Select categorical columns for one-hot encoding
categorical_cols = ['Preferred Cusine','fav_dish_per_customer','popular_dish_for_this_cuisine']

# Initialize OneHotEncoder
encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')

# Apply transformation
encoded_array = encoder.fit_transform(train_df[categorical_cols])

# Convert to DataFrame
encoded_df = pd.DataFrame(encoded_array, columns=encoder.get_feature_names_out(categorical_cols))

# Concatenate with the original DataFrame
train_df = pd.concat([train_df.drop(columns=categorical_cols), encoded_df], axis=1)

TypeError: OneHotEncoder.__init__() got an unexpected keyword argument 'sparse'